* {
    box-sizing: border-box;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    font-family: "Quicksand";
    font-weight: 500;
    background-color: rgb(245, 242, 204);
}

.add-btn {
    width: 80px;
    height: 80px;
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border-color: rgb(253, 238, 25);
    font-size: 40px;
    cursor: pointer;
    position: fixed;
    right: 30px;
    bottom: 100px;
    transition: background 0.25s;
    outline: none;
    border: none;
}

.add-btn:active {
    background-color: rgb(13, 116, 110);
}

.popup-container .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.create-task {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: #FFFFFF;
    width: 400px;
    height: fit-content;
    z-index: 2;
    text-align: center;
    font-size: 1.3rem;
    padding: 1rem;
    max-width: 100%;
    border-radius: 8px;
}

.popup-title{
    color: black;
}

.create-task .form .input {
    background-color: #EEEEEE;
    border: none;
    color: #111111;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 1.3rem;
    width: 100%;
    padding: 1.5rem;
    font-family: "Quicksand";
}

.priority-dropdown {
    background-color: #DDDDDD;
    border: none;
    color: #222222;
    display: block;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1rem;
    width: 100%;
    padding: 1.2rem;
    font-family: "Quicksand";
}

.create-task h4{
    color: #222222;
    display: block;
    font-size: 1.2rem;
    width: 100%;
    text-align: left;
    padding-left: 10px;
}

.save-task {
    background-color: lightseagreen;
    border: none;
    color: white;
    display: block;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.3rem;
    width: 100%;
    padding: 1.5rem;
    font-family: "Quicksand";
}

.save-task:active {
    background-color: rgb(2, 138, 131);
}

.popup-container .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background-color: #BBBBBB;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 25px;
}

.popup-container .close-btn:active {
    background-color: #7a7a7a;
}

.popup-container.active .popup {
    display: block;
}

.popup-container.active .create-task {
    transition: all 100ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

/* priority boxes */

.high {
    background-color: rgb(255, 56, 56);
    border-color:  rgb(250, 21, 21);
}

.mid {
    background-color: #fd9b38;
    border-color: #ff952b;
}

.low {
    background-color: rgb(61, 199, 61);
    border-color: rgb(43, 184, 43);
}

.common-box{
    border-radius: 10px;
    height: fit-content;
    text-align: center;
    color: rgb(250, 248, 228);
    position: relative;
    font-size: 20px;
    border-style: solid;
    border-width: 5px;
    animation-name: fade-animation;
    animation-duration: 2s;
}

@keyframes fade-animation {
    0%{
        opacity: 50%;
    }
    50%{
        opacity: 75%;
    }
    100%{
        opacity: 100%;
    }
}

/* priority boxes */

.h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* common color */
.common-color{
    color: rgb(247, 241, 162);
}
/* common color */

/* header footer starts here*/

header {
    position: absolute;
    top: 0px;
    text-align: center;
    background-color: lightseagreen;
    width: 100%;
    margin: auto;
}

#title{
    font-family: "Sarina";
    font-size: 70px;
}

#subtitle{
    font-size: 30px;
}

footer {
    position: absolute;
    bottom: 0px;
    text-align: center;
    background-color: lightseagreen;
    width: 100%;
    margin: auto;
    font-size: 20px;
}

.heart {
    color: red;
    animation-name: hearticon;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    font-size: 30px;
}

@keyframes hearticon {
    0% {
        opacity: 80%;
    }
    25% {
        opacity: 65%;
    }
    50% {
        opacity: 10%;
    }
    75% {
        opacity: 65%;
    }
    100% {
        opacity: 90%;
    }
}

/* header footer ends here*/
