body {
    background-color: black;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: absolute;
    top: 0px;
    text-align: center;
    background-color: lightseagreen;
    width: 100%;
    margin: auto;
}

.container {
    /* height: 200px;
    width: 50%;
    background-color: rgb(231, 122, 122);
    position: relative;
    top: 300px;
    margin: auto;
    padding: 10px; */
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.high {
    height: 200px;
    background-color: red;
    text-align: center;
    color: #eee;
    border: 2px solid #FFF;
    position: relative;
}

.mid {
    height: 200px;
    background-color: #FD7D00;
    text-align: center;
    color: #eee;
    border: 2px solid #FFF;
    position: relative;
}

.low {
    height: 200px;
    background-color: green;
    text-align: center;
    color: #eee;
    border: 2px solid #FFF;
    position: relative;
}

.h2{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer {
    position: absolute;
    bottom: 0px;
    text-align: center;
    background-color: lightseagreen;
    width: 100%;
    margin: auto;
}

#heart {
    color: red;
    animation-name: hearticon;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes hearticon {
    0% {
        opacity: 100%;
    }
    25% {
        opacity: 50%;
    }
    50% {
        opacity: 0%;
    }
    75% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}