* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    font-family: "Quicksand";
    font-weight: 500;
    background-color: rgb(245, 242, 204);
}

/* two buttons start here*/

.buttons {
    display: block;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 110px;
    
}

.center-buttons{
    display: flex;
    flex-direction: row;
    margin: auto;
}

.add-btn {
    width: 80px;
    height: 80px;
    background-color: lightseagreen;
    color: rgb(247, 241, 162);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border-color: rgb(253, 238, 25);
    font-size: 40px;
    cursor: pointer;
    transition: background 0.25s;
    outline: none;
    border: none;
    opacity: 75%;
}

.add-btn:active {
    background-color: rgb(13, 116, 110);
}

.add-btn:hover{
    opacity: 100%;
}

.list-btn {
    width: 80px;
    height: 80px;
    background-color: lightseagreen;
    color: rgb(247, 241, 162);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 5px solid rgb(253, 238, 25);
    font-size: 40px;
    cursor: pointer;
    transition: background 0.25s;
    outline: none;
    border: none;
    opacity: 75%;
}

.list-btn:active {
    background-color: rgb(13, 116, 110);
}

.list-btn:hover{
    opacity: 100%;
}

/* task creator pop up begins */

.popup-container .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.create-task {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: lightseagreen;
    width: 400px;
    height: fit-content;
    z-index: 2;
    text-align: center;
    font-size: 1.3rem;
    padding: 1rem;
    max-width: 100%;
    border-radius: 8px;
    color: rgb(247, 241, 162);
}

.create-task .form .input {
    background-color: #EEEEEE;
    border: none;
    color: #111111;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 1.3rem;
    width: 100%;
    padding: 1.5rem;
    font-family: "Quicksand";
}

.priority-dropdown {
    background-color: #DDDDDD;
    border: none;
    color: #222222;
    display: block;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1rem;
    width: 100%;
    padding: 1.2rem;
    font-family: "Quicksand";
}

.create-task h4 {
    display: block;
    font-size: 1.2rem;
    width: 100%;
    text-align: left;
    padding-left: 10px;
}

.save-task {
    background-color: rgb(247, 241, 162);
    border: none;
    color: lightseagreen;
    display: block;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.3rem;
    font-weight: bold;
    width: 100%;
    padding: 1.5rem;
    font-family: "Quicksand";
}

.save-task:active {
    background-color: rgb(255, 248, 152);
}

.popup-container .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background-color: rgb(247, 241, 162);
    color: lightseagreen;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.popup-container .close-btn:active {
    background-color: #7a7a7a;
}

.popup-container.active .popup {
    display: block;
}

.popup-container.active .create-task {
    transition: all 100ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

/* task view container */

.task-container .task {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.tasks-list {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: lightseagreen;
    width: 400px;
    height: fit-content;
    z-index: 2;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
    max-width: 100%;
    border-radius: 8px;
    color: rgb(247, 241, 162);
}

.task-container.active .task {
    display: block;
}

.task-container.active .tasks-list {
    transition: all 100ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.view-tasks {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin:auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.high {
    height: fit-content;
    text-align: center;
    color: #EEEEEE;
    border-radius: 10px;
    position: relative;
    background-color: rgb(255, 56, 56);
}

.mid {
    height: fit-content;
    text-align: center;
    color: #EEEEEE;
    border-radius: 10px;
    position: relative;
    background-color: #fd9b38;
}

.low {
    height: fit-content;
    text-align: center;
    color: #EEEEEE;
    border-radius: 10px;
    position: relative;
    background-color: rgb(61, 199, 61);
}

.task-container .task-close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background-color: rgb(247, 241, 162);
    color: lightseagreen;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

/* Complete task toggle */

.tasks-high {
    background-color: rgb(255, 56, 56);
    padding: 1rem;
    border-radius: 8px;
    padding-top: 0;
    margin: 0;
    list-style-type: none;
    color: #111;
}

.tasks-mid {
    background-color: #fd9b38;
    padding: 1rem;
    border-radius: 8px;
    padding-top: 0;
    margin: 0;
    list-style-type: none;
    color: #111;
}

.tasks-low {
    background-color: rgb(61, 199, 61);
    padding: 1rem;
    border-radius: 8px;
    padding-top: 0;
    margin: 0;
    list-style-type: none;
    color: #111;
}

.tasks-high li {
    background-color: white;
    border-radius: 8px;
    border-top: 1px solid #e5e5e5;
    cursor: pointer;
    margin: 8px;
    font-size: 1.2rem;
    padding: 1rem 2rem;
}

.tasks-high li.completed {
    color: #b5b5b5;
    text-decoration: line-through;
}

.tasks-mid li {
    background-color: white;
    border-radius: 8px;
    border-top: 1px solid #e5e5e5;
    cursor: pointer;
    margin: 8px;
    font-size: 1.2rem;
    padding: 1rem 2rem;
}

.tasks-mid li.completed {
    color: #b5b5b5;
    text-decoration: line-through;
}

.tasks-low li {
    background-color: white;
    border-radius: 8px;
    border-top: 1px solid #e5e5e5;
    cursor: pointer;
    margin: 8px;
    font-size: 1.2rem;
    padding: 1rem 2rem;
}

.tasks-low li.completed {
    color: #b5b5b5;
    text-decoration: line-through;
}

.small {
padding: 8px;
}

/* header footer starts here*/

header {
    position: absolute;
    top: 0px;
    text-align: center;
    background-color: lightseagreen;
    color: rgb(247, 241, 162);
    width: 100%;
    margin: auto;
    height: 250px;
}

#title {
    color: black;
    font-family: "Sarina";
    font-size: 70px;
}

#title-shadow {
    font-family: "Sarina";
    font-size: 70px;
    position: relative;
    top: -140px;
}

#subtitle {
    font-size: 30px;
    position: relative;
    top: -150px;
}

.random-quotes {
    color: black;
    margin: auto;
    text-align: center;
    position: relative;
}

footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    background-color: lightseagreen;
    color: rgb(247, 241, 162);
    width: 100%;
    margin: auto;
    font-size: 20px;
}

.heart {
    color: red;
    animation-name: hearticon;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    font-size: 35px;
}

@keyframes hearticon {
    0% {
        opacity: 80%;
    }
    25% {
        opacity: 65%;
    }
    50% {
        opacity: 10%;
    }
    75% {
        opacity: 65%;
    }
    100% {
        opacity: 90%;
    }
}

/* header footer ends here*/
